{% extends 'base.html' %}

{% block title %}
<title> База заказов - Умка </title>
{% endblock %}

{% block body %}
<main class="container">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Главная страница</h1>
    <p class="lead"> Сборная солянка из заказов</p>
  </div>


  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  {% for el in data%}



          <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">{{ el.Num }}  {{el.Firma}} </h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
		  <li>{{ el.Kont_Litso }} тлф:-- почта:-- адрес: {{ el.Adres }} </li>

        </ul>

      </div>
    </div>



  {% endfor %}
  </div>




{% endblock %}